* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
}

body {
    background-color: #f72585;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    background-color: #60ab9a;
    color: black;
}

#reset-btn, #new-game {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    color: antiquewhite;
    background-color: black;
}

#msg {
    color: black;
    font-size: 8vmin;
}

.msg-container {
    height: 30vmin;
}

.hide {
    display: none;
}